*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

body{
    height: 100vh;
    width: 100vw;
    background:url('img/map-of-the-world-2401458_1920.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
div{
    display: flex;
    flex-direction: column;
    background-color:rgba(156, 156, 156, 0.642) ;
    padding: 30px;
    border-radius: 20px
}
label{
    color: rgb(14, 14, 14);
    font-weight: bolder;
    font-size: large;
    font-style: italic;
}
h2{
    color: rgb(44, 44, 35);
    text-align: center;
    font-weight: bolder;
}
.btn{
    border-radius: 20px;
    color: white;
    background-color: green;
    transition: 0.5ms;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(46, 221, 46);
}
input{
    border-radius: 5px;
    text-align: center;
    
}
